/* ===== Login Specific Overrides ===== */

.login-card-custom {
  max-width: 900px;
  max-height: 900px;
  min-height: 680px;
  padding: 40px 20px 20px;
  align-items: center;
  text-align: center;
}

.login-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===== Options ===== */
.login-options {
  width: 100%;
  max-width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: var(--color-text-muted);
  margin-top: -8px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
}

.remember-me input {
  accent-color: var(--color-primary);
}

.forgot-password {
  color: var(--color-text-muted);
  text-decoration: none;
}

.forgot-password:hover {
  color: var(--color-primary);
}

/* ===== Illustration ===== */
.login-illustration {
  margin-top: 20px;
}

.login-illustration img {
  width: 100%;
  max-width: 320px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .login-card-custom {
    min-height: auto;
    padding: 40px 20px;
  }

  .login-options {
    font-size: 15px;
    gap: 12px;
  }

  .login-illustration img {
    max-width: 240px;
  }
}

@media (max-width: 480px) {
  .login-illustration img{
    display: none;
  }
}
