.auth-desc-password {
    margin: 10px 0 24px;
    color: var(--color-text-muted);
    font-size: 20px;
    line-height: 1.6;
}
.auth-title-password{
    font-size: 28px;
    font-weight: 700;
    color: var(--color-text-accent);
    margin: 0;
}

.auth-card-password {
    display: flex;
    gap: 40px;
    padding: 40px 40px;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 850px;
    min-height: 730px;
    background: var(--color-bg-section);
    border-radius: var(--radius-card);
    border: 1px solid var(--color-border);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.login-input-password {
    width: 100%;
    padding: 14px 16px;
    margin-top: 50px;
    border-bottom: 1px solid var(--color-text-secondary);
    background: var(--color-bg-main);
    font-size: 18px;
    outline: none;
    resize: none;
    transition: var(--transition-fast);
}

.login-btn {
    width: 100%;
    padding: 14px 16px;
    margin-top: 30px;
}

.login-register-password {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    color: var(--color-text-muted);
}

.auth-illustration-password {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.auth-illustration-password img {
    max-width: 200px;
    transform: translateX(0px) translateY(-80px);
}