.why-section {
    background: var(--color-bg-section);
    padding: 80px 20px;
    direction: ltr;
}

.why-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 40px;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.why-container.show {
    opacity: 1;
    transform: translateY(0);
}

.why-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 40px;
}

.why-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
    justify-content: start;
    text-align: center;
}

.why-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(95, 168, 211, 0.2);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    transition: var(--transition-main);
}
.why-icon:hover{
    background : var(--color-primary);
    color: white;
}

.why-value {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-text-accent);
}

.why-title {
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0;
    color: var(--color-text-accent);
}

.why-desc {
    font-size: 17px;
    color: var(--color-text-secondary);
    line-height: 1.6;
}

.why-divider {
    width: 2px;
    height: 100%;
    background: var(--color-divider);
}

.why-text {
    text-align: right;
    direction: rtl;
}

.why-heading {
    font-size: 45px;
    color: var(--color-primary);
    margin-bottom: 16px;
}

.why-heading span {
    color: var(--color-text-secondary);
}

.why-text p {
    font-size: 28px;
    line-height: 1.9;
    color: var(--color-text-muted);
}



/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
    .why-container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .why-divider {
        display: none;
    }

    .why-stats {
        grid-template-columns: 1fr;
    }

    .why-text {
        text-align: center;
    }
}