.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: var(--radius-btn);
    padding: 12px 24px;
    text-decoration: none;
    transition: var(--transition-main);
    cursor: pointer;
    border: 1px solid transparent;
}

/* Primary */
.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

/* Outline */
.btn-outline {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}


/* Size Variants */
.btn-sm {
    font-size: 16px;
    padding: 8px 16px;
}

/* Utilities */
.w-100 {
    width: 100%;
}