.btn {
    font-size: 20px;
    border-radius: var(--radius-btn);
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Primary */
.btn-primary {
    background-color: var(--color-primary);
    text-align: center;
    color: #fff;
    padding: 8px 55px;
}

/* Outline */
.btn-outline {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 8px 55px;
}

.btn-outline:hover {
    background-color: var(--color-primary);
    color: #fff;
}