/* ===== Reset Password Specific Overrides ===== */

.reset-password-card {
    max-width: 550px;
    padding: 60px 40px;
    align-items: center;
}

@media (max-width: 600px) {
  .reset-password-card {
    padding: 40px 20px;
  }
}