.contact-form {
    padding: 32px;
    border-radius: var(--radius-card);
}

.contact-input,
.contact-textarea {
    width: 100%;
    padding: 14px 16px;
    margin-top: 30px;
    /* border-radius: var(--radius-sm); */
    border-bottom: 1px solid var(--color-text-secondary);
    background: var(--color-bg-main);
    font-size: 18px;
    outline: none;
    resize: none;
    transition: var(--transition-fast);
}

.contact-input:focus,
.contact-textarea:focus {
    border-color: var(--color-primary);
}

.form-error {
    margin-top: 6px;
    font-size: 14px;
    color: var(--color-error);
}
.btn-Contact{
    margin-top: 20px;
}
.btn-Contact button{
    padding: 10px 60px;
    font-size: 20px;
}
.btn-Contact button:hover{
    background: var(--color-primary-hover);
}