.about-section {
    width: 100%;
    padding: 80px 20px;
    background: var(--color-bg-main);
}

.about-container {
    padding: 30px 0;
    width: min(1380px, 96%);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    direction: ltr;
}

.about-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-frame {
    position: relative;
    max-width: 560px;
    height: 420px;
    z-index: 1;
}

.media-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-lg);
}

.media-img--large {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    z-index: 10;
}

.media-img--small {
    position: absolute;
    width: 225px;
    height: 300px;
    bottom: -100px;
    left: 80%;
    transform: translateX(-50%);
    border-radius: 40px;
    background: #fff;
    z-index: 80;
}

.media-dots {
    position: absolute;
    left: -20px;
    bottom: -130px;
    width: 200px;
    height: 150px;

}

.media-deco {
    position: absolute;
    top: -30px;
    left: -20px;
    width: 150px;
    height: 150px;
    background: #3E587133;
    border-radius: 25px;
}

/* Content */
.about-content {
    direction: rtl;
}

.about-eyebrow {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 24px;
}

.about-title {
    font-size: 32px;
    color: var(--color-heading);
    margin-bottom: 13px;
}

.about-desc {
    font-size: 24px;
    line-height: 40px;
    color: var(--color-text-muted);
    margin-bottom: 18px;
}

.about-features {
    list-style: none;
    display: grid;
    gap: 12px;
}

.about-features li {
    display: flex;
    gap: 12px;
}

.about-features .icon {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    background: rgba(95, 168, 211, 0.12);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.about-features h4 {
    font-size: 24px;
    color: var(--color-heading);
}

.about-features p {
    font-size: 20px;
    color: var(--color-text-muted);
}

/* Button */
.btn-about {
    width: 250px;
    padding: 10px 30px;
    border-radius: var(--radius-btn);
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}

.btn-primary-about {
    background: var(--color-primary);
    color: #fff;
}

.btn-primary-about:hover {
    background: var(--color-primary-hover);
}