.home {
    width: 100%;
}

.image-home {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.image-home__img {
    width: 100%;
    height: 100%;
    display: block;
}
/* Overlay */
.image-home__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            var(--color-text-accent) 70%,
            var(--color-text-accent) 100%);
    pointer-events: none;
}

/* Content */
.image-home__content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: absolute;
    right: 8%;
    top: 40%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 5;
    max-width: 750px;
    padding: 1rem;
}

.image-home__content h1 {
    font-size: 45px;
    font-weight: bold;
    margin: 0 0 0 0;
    line-height: 1.1;
}

.image-home__content p:nth-of-type(1),
.image-home__content p:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.9);
    font-size: 27px;
    margin: 0 0 0 0;
}


/* ========== Responsive ========== */

@media (max-width: 768px) {
    .image-home {
        height: 60vh;
    }

    .image-home__content {
        right: 3%;
        left: 3%;
        max-width: none;
        text-align: center;
    }

    .image-home__content h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 900px) {
    .cards-row {
        padding: 14px;
    }

    .card {
        padding: 10px;
    }

    .card-title {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .cards-row-wrapper {
        margin-top: 0;
        padding: 0 10px;
    }

    .cards-row {
        flex-direction: column;
        gap: 12px;
        padding: 12px;
    }

    .card {
        gap: 12px;
        align-items: center;
    }

    .card-content {
        text-align: center;
    }
}